# dependências
.test-lab/

node_modules/
frontend/node_modules/

# build/artefatos
dist_electron/
frontend/dist/

# vite cache
frontend/node_modules/.vite/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# segredos locais
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# banco local (não publicar dados!)
backend/models/data/
**/emprestimos-data/
**/uploads/
**/backups/

# SO / editor
.DS_Store
Thumbs.db
.vscode/
